{% load static %}

<footer>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><b>Nyumbani</b></li>
                    <li>About</li>
                    <li>Contact</li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><b>Information</b></li>
                    <li>Help & Faqs</li>
                    <li>Host Your Apartment</li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><b>Legals</b></li>
                    <li>Terms</li>
                    <li>Privacy</li>
                    <li>Feedback & Complaints</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><b>Connect Socially</b></li>
                    <li class="socials">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-google"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
            <p class="text-center">&copy;<script>document.write(new Date().getFullYear());</script> • Nyumabni Housing • All rights reserved.</p>
        </div>
    </div>
</footer>