{% extends "base.html" %}
  
{% load static %}

  

{% block head_links %}
<style>
.bg-img {
  background-image: url("{% static 'images/BG2.jpg' %}");
  min-height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form {
  position: absolute;
  right: 10vw;
  margin: 20px;
  max-width: 441px;
  padding: 40px 40px 24px;
  background-color: #fff;
  border-radius: 4%;
  box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
}

input[type=text], input[type=number], input[type=password], option {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  background: #ffff;
 
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, option{
  background-color: #ffff;
  outline: none;
  
}

.btn {
  background-color: #4F4A7D;
  color: white;
  width: 100%;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.btn:hover {
  box-shadow: inset;
}   

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
} 
.card_caption {
    text-transform: capitalize;
    background: #fff;
    padding: 15px 5px;
    margin-right: auto;
}
</style>
{% endblock %}


{% block content %}
<div class="bg-img">
    <form action="{% url 'search_results' %}" class="form">
      <h2 class="search-text text-center">Search and Book Today</h2>

      <div class="form_group">
        <label for="room_type"><b>Location</b></label>
        <select class="form-control" name="location" id="location" required>
          <option value="" selected disabled>Where do you want to live?</option>
          {% for item in locations %}
              <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}      
        </select>
      </div>
      <br>
  
      <div class="form_group">
        <label for="room_type"><b>Room Type</b></label>
        <select class="form-control" name="room_type" id="room_type" required>
          <option value="" selected disabled>Choose a room type</option>
          {% for item in room_types %}
              <option value="{{item}}">{{item}}</option>
          {% endfor %}      
        </select>
      </div>
      <br>

      <label for="max"><b>Maximum Price</b></label>
      <input type="number" placeholder="Ksh" name="price" required>
  
      <div class="text-center">
        <button type="submit" class="btn search-btn text-center">Search</button>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row hidden-md-up mt-3">
      <h3><span id="month"></span>'s Featured Apartments</h3>
        {% for listing in apartments %}
        <div class="col-md-4">
          <div class="card border-light">
              <div class="card-image">
                  <a href="/single_listing/{{listing.id}}">
                    <img src="{{listing.image.url}}" class="card-img-top" alt="">
                  </a>
              </div>
              <div class="card_content">
                <div class="card_caption">
                  <div class="row">
                    <div class="col">
                      <h6>
                          <a href="/single_listing/{{listing.id}}">{{listing.name}}</a>
                      </h6>
                      {% for info in listing.room_type.all %}
                      <h6>{{info.name}}</h6>
                      {% endfor %}
                    </div>
                    <div class="col text-end">
                        <h6 class="text-success">rooms available</h6>
                        <!-- <h6>No rooms available</h6> -->
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}

  {% block scripts %}
  <script>
    window.onload = function() {
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
    var date = new Date();

    document.getElementById('month').innerHTML = months[date.getMonth()];
  };
  </script>
  {% endblock %}