{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block head_links %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    .apart_image{
        max-width:100%;
        max-height:100%;
        object-fit: cover !important;
    }
    .price{
        width: max-content;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
        background-color: #FF9900;
        color: black;
        font-weight: 700;
    }
    .heading{
        font-family: 'Hind Siliguri';
        font-weight: 700;
        font-size: 30px !important;
        line-height: 16px;
        color: #146356;
        letter-spacing: 0.4px;
    }
    .book{
        background: #146356;
        color: white;
        width: 70%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .mpesa{
        background: #58A336;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .close{
        background-color: #4F4A7D;
        color: white;
        width: 30%;
        left: 0;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    {% if listing %}
    <div class="row">
        <div class="col-md-6">
            <img class="apart_image" src="{{listing.image.url}}" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4 class="heading" style="color:#4F4A7D" >{{listing.name}}</h4>
            <br>
            <div class="col-sm-12 book_panel"><!---->
                <h2>About The Hostel:</h2>
                <p>{{listing.description}}</p>
                <p><span class="hostel_detail">Landlord:</span> {{listing.landlord.name}} </p>
                <p><span class="hostel_detail">Contact:</span> {{listing.landlord.phone_number}} </p>
                <p class="price">
                    {% for room_type in listing.room_type.all %}
                    <span class="hostel_detail"><i class="bi bi-tag-fill text-center"></i></span>
                    {{room_type.name}}: {{room_type.price|intcomma}}
                    {% endfor %}
                </p>
                <p>Available rooms: {{rooms}}</p>
                <button type="button" class="book btn search-btn text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">BOOK NOW</button>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#4F4A7D; margin-left: 30%;">BOOK A ROOM</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please ensure the details below are accurate before you make any payments.</p>
          {% if listing %}
          <h5>Apartment name: <span style="color: #146356;" class="text-bold">{{listing.name}}</span></h5>
          {% endif %}
          <form method="POST" action="/single_listing/{{listing.id}}/" class="form-group font-weight-bold" enctype="multipart/form-data">
            {% csrf_token %} 
            {% for field in form %}
            {% if form.non_field_errors %}
              <div class="form-group text-error">
                  {{ form.non_field_errors }}
              </div>
            {% endif %}
            <label for="{{ field.auto_id }}"{% if field.field.required %}
              class="requiredField{% if field.widget.attrs.readonly %} readOnlyLabel{% endif %}"
              {% else %}{% if field.widget.attrs.readonly %}class="readOnlyLabel"{% endif %}{% endif %}>
              {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            {{field}}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {{field.errors}} {{form.errors}} {% endfor %}              
            <div class="mb-2 pt-2">
              <button id="login" style="background-color: #146356;" type="submit" class="btn btn-primary form-control">Request Room</input>
            </div>
        </form>
        </div>
        <div class="modal-footer" style="border-top: none;">
          <div type="button" class="btn close float-left" data-bs-dismiss="modal" style="left:0">Close</div>
          <button type="button" class="btn mpesa">LIPA NA MPESA</button>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <hr class="p-1">
                    <h4 class="heading">REVIEWS</h4>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <hr class="p-1">
                    <h4 class="heading">AMENITIES</h4>
                </div>
                {% for amenity in listing.amenity.all %}
                <p><i class="bi bi-check2-circle"></i> {{amenity.description}}</p>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <hr class="p-1">
                    <h4 class="heading">HOUSE RULES</h4>
                </div>
                {% for rule in listing.house_rule.all %}
                <p><i class="bi bi-check-circle"></i> {{rule.description}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
        
    {% endif %}
</div>

{% endblock %}