{% extends "base.html" %}
{% load static %}

{% block head_links %}
{% endblock %}


{% block content %}

<div  class="container border border-danger float-end"style="width:70%;height:80vh;">
  <p class="h4 text-center text-success"><i>How Nyumbani Works</i></p>
  <div class="row">
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequuntur quidem dolor libero accusamus consectetur sit saepe, consequatur ea? Vero natus ipsa nesciunt placeat totam accusamus, dolor reprehenderit quae voluptatum.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, molestias itaque reiciendis laborum ex aliquam dolor sed magni numquam ut repellendus animi voluptas sint nihil cum ratione esse nostrum atque.
    </p>
  </div>
  <div class="row">
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequuntur quidem dolor libero accusamus consectetur sit saepe, consequatur ea? Vero natus ipsa nesciunt placeat totam accusamus, dolor reprehenderit quae voluptatum.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, molestias itaque reiciendis laborum ex aliquam dolor sed magni numquam ut repellendus animi voluptas sint nihil cum ratione esse nostrum atque.
    </p>
  </div>
  <div class="row">
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequuntur quidem dolor libero accusamus consectetur sit saepe, consequatur ea? Vero natus ipsa nesciunt placeat totam accusamus, dolor reprehenderit quae voluptatum.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, molestias itaque reiciendis laborum ex aliquam dolor sed magni numquam ut repellendus animi voluptas sint nihil cum ratione esse nostrum atque.
    </p>
  </div>
  
</div>

{% endblock %}