{% extends "layout.html" %}
{% load static %}


{% block head_links %}
{% endblock %}


{% block content %}
<div class="main_content">
    <div class="info row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <h1>Book Room</h1>
            <h6>{{listing.name}}</h6>
            <p></p>
        </div>
        <form role='change' method="POST" action="/book_room/{{listing.id}}/">
            <div class="form_group">
                <label class="form-label" for="room">Select a Room</label>
                <select class="form-control" name="room" id="room" required>
                  <option selected disabled>Select Room</option>
                  {% for room in available_rooms %}
                      <option value="{{room.id}}">{{room.name}}</option>
                  {% endfor %}      
                </select>
              </div>
    
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Request Room</button>
          </form>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}