{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block head_links %}
<style>
  .price{
        width: max-content;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
        background-color: #4F4A7D;
        color: white;
        font-weight: 700;
    }
    .heading{
        font-family: 'Hind Siliguri';
        font-weight: 700;
        font-size: 30px !important;
        line-height: 16px;
        color: #146356;
        letter-spacing: 0.4px;
    }
</style>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="col-sm-12 book_panel"><!---->
        <h2>Personal Details:</h2>
        <p>Name: {{tenant.name}}</p>
        <p><span class="hostel_detail">Phone number:</span> {{tenant.phone_number}} </p><!---->
        {% for booking in current_booking %}
          {% if booking.room.status == 'Paid' %}
            <p class="price">
            <span class="hostel_detail"><i class="bi bi-house text-center">Current Room:</i></span> <br>
            {{booking.room.apartment.name}} - Room {{booking.room.name}} <br>
            </p>
          {% elif booking.room.status == 'Pending' %}
            <p class="price">
            Your booking <span>({{booking.room.apartment.name}} - {{booking.room.name}})</span> is pending payment
            <br> Amount due: {{booking.room.room_type.price|intcomma}}
            </p>
          {% else %}
          <p class="price">
            You have no bookings yet
          </p>
          {% endif %}
        {% endfor %}
        <a class="text-primary" href="{% url 'listings' %}">Find a new apartment?</a>
        <br> <br> <br> <br> <br> <br>
    </div>
    </div>

    <div class="col-md-6" >
      <div class="col-sm-12 book_panel"><!---->
        <h2>Tenancy History:</h2>
        {% for booking in my_bookings %}
        {% if booking.room.status == 'Paid' %}
          <i>{{booking.start_date|naturalday}}:</i>
          <p>{{booking.room.apartment.name}} - {{booking.room.name}}</p>
        {% else %}
        <p>Book rooms to see your occupancy history</p>
        {% endif %}
        {% endfor %}
    </div>
  </div>
{% endblock %}