{% extends "layout.html" %}
{% load static %}


{% block head_links %}
{% endblock %}


{% block content %}
<div class="main_content">
    <div class="info row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <h1>Add an Available Room</h1>
            <h6>{{listing.name}}</h6>
        </div>
        <form role="upload" method="POST" action="{% url 'manage_rooms' %}">
          <div class="form_group">
            <label class="form-label" for="name">Room name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Room name">
          </div>
          
          <div class="form_group">
            <label class="form-label" for="apartment">Apartment</label>
            <select class="form-control" name="apartment" id="apartment" required>
              <option selected disabled>Select apartment</option>
              {% for listing in apartments %}
                  <option value="{{listing.id}}">{{listing.name}}</option>
              {% endfor %}      
            </select>
          </div>

          <div class="form_group">
            <label class="form-label" for="room_type">Room Type</label>
            <select class="form-control" name="room_type" id="room_type" required>
              <option selected disabled>Select room type</option>
              {% for type in room_type %}
                  <option value="{{type.id}}">{{type.name}}-{{type.price}}</option>
              {% endfor %}      
            </select>
          </div>

          <div class="form_group">
            <label class="form-label" for="status">Room Status</label>
            <select class="form-control" name="status" id="status" required>
              <option selected disabled>Select Unit</option>
              {% for item in status %}
                  <option value="{{item}}">{{item}}</option>
              {% endfor %}      
            </select>
          </div>
          
          {% csrf_token %}
          <button id="login" style="background-color: #146356;" type="submit" class="btn btn-primary form-control">Create Room</button>                  
        </form>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}