{% extends "layout.html" %}
{% load static %}


{% block head_links %}
{% endblock %}


{% block content %}
<div class="main_content">
    <div class="info row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <h1>Edit Listing</h1>
            <h6>{{listing.name}}</h6>
        </div>
        <form method="POST" action="/manage/rooms/{{listing.id}}/" class="form-group font-weight-bold" enctype="multipart/form-data">
            {% csrf_token %} 
            {% for field in form %}
            {% if form.non_field_errors %}
              <div class="form-group text-error">
                  {{ form.non_field_errors }}
              </div>
            {% endif %}
            <label for="{{ field.auto_id }}"{% if field.field.required %}
              class="requiredField{% if field.widget.attrs.readonly %} readOnlyLabel{% endif %}"
              {% else %}{% if field.widget.attrs.readonly %}class="readOnlyLabel"{% endif %}{% endif %}>
              {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            {{field}}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {{field.errors}} {{form.errors}} {% endfor %}              
            <div class="mb-2 pt-2">
              <button id="login" style="background-color: #146356;" type="submit" class="btn btn-primary form-control">Create Room</input>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}