{% extends "layout.html" %}
{% load static %}


{% block head_links %}
{% endblock %}


{% block content %}
<div class="main_content">
    <div class="info">
        <h4>Your Listings</h4>
        {% for listing in apartments %}
        <div class="col-md-4">
            <div class="card border-light">
                <div class="card-image">
                    <a href="">
                      <img src="{{listing.image.url}}" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card_content">
                  <div class="card_caption">
                    <div class="row">
                      <div class="col">
                        <h6>{{listing.name}}</h6>
                        {% for info in listing.room_type.all %}
                        <h6>{{info.name}}</h6>
                        {% endfor %}
                      </div>
                      <div class="col text-end">
                        <a href="" class="text-success"><i class="bi bi-gear-fill"></i> Manage</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}